* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#bodySection {
    flex: 1 0 auto;
    height: 100vh;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

aside {
    width: 180px;
    height: 100vh;
    float: left;
    display: block;
    overflow: hidden;
}

aside>header {
    width: 180px;
    height: 30px;
}

aside>section {
    height: 100%;
}

#makeRoom {
    display: flex;
    justify-content: space-between;
}

#closeBtn {
    width: 45px;
    height: 30px;
    -webkit-app-region: no-drag;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #cccccc;
    background-color: #3c3c3c;
    cursor: default;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

#rooms div {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 100px;
}